.text-orange {
  color:#f46f1b;
}

a.text-orange:hover, a.text-orange:visited:hover, a.text-orange:active:hover {
  color:#c35815;
}

a.text-orange:visited {
  color:#f46f1b;
}

a.text-orange:active {
  color:#f46f1b;
}

.text-purple {
  color:#7b4782;
}

a.text-purple:hover,a.text-purple:visited:hover,a.text-purple:active:hover {
  color:#623868;
}

a.text-purple:visited {
  color:#7b4782;
}

a.text-purple:active {
  color:#7b4782;
}

.text-blue {
  color:#27bedc;
}

a.text-blue:hover,a.text-blue:visited:hover,a.text-blue:active:hover {
  color:#1d9ab3;
}

a.text-blue:visited {
  color:#27bedc;
}

a.text-blue:active {
  color:#27bedc;
}

.text-pink {
  color:#f66565;
}

a.text-pink:hover,a.text-pink:visited:hover,a.text-pink:active:hover{color:#cb4d4d;}a.text-pink:visited{color:#f66565;}a.text-pink:active{color:#f66565;}.text-brick{color:#c02942;}a.text-brick:hover,a.text-brick:visited:hover,a.text-brick:active:hover{color:#962034;}a.text-brick:active{color:#c02942;}a.text-brick:visited{color:#c02942;}.text-maroon{color:#542437;}.text-slate{color:#53777a;}.text-bold{font-weight:bold;}.text-semibold{font-weight:500;}.text-italic{font-style:italic;}.text-center{text-align:center;}.text-nowrap{white-space:nowrap;}.press{text-align:center;}.press img{display:inline-block;margin-top:10px;margin-bottom:10px;-webkit-filter:grayscale(100%);filter:grayscale(100%);}.press img:hover{-webkit-filter:grayscale(0);filter:grayscale(0);}.progress-bar-skill1{background-color:#d1d1d1;background-color:#27bedc;}.progress-bar-skill2{background-color:#f46f1b;background-color:#f38630;}.progress-bar-skill3{background-color:#d1d1d1;background-color:#c02942;}.progress-bar-skill4{background-color:#d1d1d1;background-color:#542437;}.progress-bar-skill5{background-color:#d1d1d1;background-color:#53777a;}header{position:fixed;left:0;width:100%;height:80px;padding-top:0px;transition:all 0.3s linear;-moz-transition:all 0.3s linear;-webkit-transition:all 0.3s linear;}.default{top:0;}.fixed{top:-80px;}.btn-github{border-radius:0;position:absolute;top:0px;right:0px;float:right;}.transparent-on-hover:hover,.transparent-on-hover:focus,.transparent-on-hover:active{opacity:0.7;-webkit-transition:opacity 300ms;-moz-transition:opacity 300ms;-o-transition:opacity 300ms;transition:opacity 300ms;}body{padding-top:10px;}.container{margin-right:auto;margin-left:auto;max-width:85%;}.container-fluid{max-width:100%;}.img-header{height:75px;}.img-profile{display:block;margin-left:auto;margin-right:auto;width:27em;max-width:100%;height:auto;}.profile-bottom-padding{padding-bottom:50px;}@media (max-width: 640px) {.text-intro h1{font-size:10vw;}.hide-for-small-screens{display:none;}.img-header{height:60px;}.responsive-padding-top{padding-top:10px;}}.text-mini-header{font-weight:bold;font-size:18px;padding-bottom:5px;}.text-mini-header{font-weight:bold;font-size:18px;}
